$font-color-dark: rgba(0, 0, 0, 0.8);
$font-color-gray: rgba(255, 255, 255, 0.8);
// $font-color-white:

//background
$background-color-dark-grey: rgb(160, 160, 160);
$background-color-middle-grey: rgb(239, 239, 239);
